* {
	background: #0E4B2F;
	color: white;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

header {
	padding: 2rem;
}

header img {
	width: 40px;
	height: auto;
	vertical-align: middle;
	margin-right: 1rem;
}

main {
	padding: 0 2rem 2rem 2rem;
}

main img {
	width: 22rem;
	max-width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

h2 {
	font-size: 2em;;
	color: #3D9C4E;
	padding-bottom: 1rem;
}

.instructions p {
	padding-bottom: 2rem;
}

footer {
	height: 2rem;
}